Willkommen ... mit tollen Frontend ist hier noch nichts
<hr />
Empfohlene Jobs:
<ul>
<% @recommendations.each do |recommendation|%>
<li><%= link_to recommendation.title, recommendation %></li>
<% end %>
</ul>
Meine Aktivitäten (aus den involvierten Jobs):
<% @my_activities.each do |activity|%>
  <h3><%= link_to activity.user.name, activity.user %> schrieb <%= link_to activity.created_at, activity %></h3>
  <p><%= activity.content %></p>
  <hr />
<% end %>
