<div class="map-container">
  <div id="map"></div>
</div>
<script type="text/javascript">
  var long        =   '<%= @pin.longitude %>',
      lat         =   '<%= @pin.latitude %>',
      pin_title       =   '<%= @pin.title %>';

  L.mapbox.accessToken = 'pk.eyJ1IjoicHN5cGhhbnQiLCJhIjoiZ290ak5iYyJ9.bYZdC19qip0QBUtvrJ8r-Q';
  var map = L.mapbox.map('map', 'psyphant.nhm78mmc')
      .setView([lat, long], 16);

  L.mapbox.featureLayer({
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
    type: 'Feature',
    geometry: {
      type: 'Point',
      // coordinates here are in longitude, latitude order because
      // x, y is the standard for GeoJSON and many formats
      coordinates: [
        long,
        lat
      ]
    },
    properties: {
      title: pin_title,
      // one can customize markers by adding simplestyle properties
      // https://www.mapbox.com/foundations/an-open-platform/#simplestyle
      'marker-size': 'large',
      'marker-color': '#BE9A6B',
      'marker-symbol': 'marker-stroked'
    }
  }).addTo(map);

  $('#ajax-modal').on('show.bs.modal', function(){
    setTimeout(function() {
      map.invalidateSize();
    }, 200);
  });
</script>