@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-active4:before {
	content: "\e000";
}
.flaticon-add139:before {
	content: "\e001";
}
.flaticon-agreement2:before {
	content: "\e002";
}
.flaticon-alarm54:before {
	content: "\e003";
}
.flaticon-chat55:before {
	content: "\e004";
}
.flaticon-clip20:before {
	content: "\e005";
}
.flaticon-gear30:before {
	content: "\e006";
}
.flaticon-loudspeaker41:before {
	content: "\e007";
}
.flaticon-map32:before {
	content: "\e008";
}
.flaticon-menu7:before {
	content: "\e009";
}
.flaticon-multiple25:before {
	content: "\e00a";
}
.flaticon-notify:before {
	content: "\e00b";
}
.flaticon-onlinestore1:before {
	content: "\e00c";
}
.flaticon-pulse1:before {
	content: "\e00d";
}
.flaticon-speech96:before {
	content: "\e00e";
}
