<%@addionalClass = " "
  if !current_user.nil?
    if current_user.liked? @job
      @addionalClass = " my-like"
    end
  end %>
<%= link_to "javascript:;", method: :post, :id => "like-button", :remote => true, :class => "show-tooltip" + @addionalClass,
            data: {toggle: "tooltip"}, :title => @job.votes.up.by_type(User).voters.map { |v| v.name }.join(", ") do %>
  <span class="icon love"><!----></span>
  <span class="icon-label">
    <span class="likes-number">
      <% if @job.likes.size > 0 %>
        <%= @job.likes.size %>
    <% end %></span> Love
  </span>
<% end %>