<div id="os-map">
  <div id="map"></div>
</div>
<script>
setTimeout(function(){ // ToDo: Bug analysieren, wenn window/document ready genommen wird statt setTimeout
  initMap(<%= @long %>,<%= @lat %>, 13);
}, 100);
</script>
