<%if @job.status == 3%>
  <%= link_to "javascript:;", method: :post, id: 'status-closed', :remote => true do%>
    <span class="now">Geschlossen</span><span class="new">Offen</span>
  <%end%>
<%elsif @job.status == 2 %>
  <%= link_to "javascript:;", method: :post, id: 'status-in-work', :remote => true do%>
    <span class="now">In Arbeit</span><span class="new">Geschlossen</span>
  <%end%>
<%else%>
  <%= link_to "javascript:;", method: :post, id: 'status-open', :remote => true do%>
    <span class="now">Offen</span><span class="new">In Arbeit</span>
  <%end%>
<%end%>
