if(<%=@user_id%> == <%=current_user.id%>){
  location.reload();
} else {
  $(".modal.current").html("<%= escape_javascript( render(:partial => 'manager_list') ) %>").append("<a class='close-modal' rel='modal:close' href='#close-modal'>Close</a>");
}