<div class="content white">
  <div class="headline-navigation side-space overflow">
    <ul class="nav">
      <li class="active">
        <a href="/jobs?scope=categories" data-toggle="headline-tab" data-target="#categories-overview">
          <h1><%= t('jobs_category_overview')%></h1>
        </a>
      </li>
      <li>
        <a href="/jobs?scope=jobs" data-toggle="headline-tab" data-target="#jobs-overview">
          <h1><%= t('jobs_overview')%></h1>
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div id="categories-overview" class="side-space overflow tab-pane active">
      <%= render :partial => 'categories_overview', :categories => @categories %>
    </div>
    <div id="jobs-overview" class="side-space overflow tab-pane">
    </div>
  </div>
</div>
<script type="text/javascript">
  $('[data-toggle="headline-tab"]').click(function(e) {
      var $this = $(this),
          loadurl = $this.attr('href'),
          targ = $this.attr('data-target');

      $.get(loadurl, function(data) {
          $(targ).html(data);
      });

      $this.tab('show');
      return false;
  });
</script>
