<script>
$(function() {
	$( "#content-tabs" ).tabs();
});
</script>
<div id="content-tabs">
	<div id="sub-navigation">
	  <ul>
	    <li><a href="#all">Alle</a></li>
	    <li><a href="#similar">Ähnlich</a></li>
	    <li><a href="#local">Lokal</a></li>
	  </ul>
	</div>
  <div class="content-box" id="all">
	  <ul>
	  <% @users.each do |user|%>
	  <li><%= link_to user.name, user %></li>
	  <% end %>
	  </ul>

	  <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4 tag5 tag6 tag7 tag8 tag9 tag10)) do |tag, css_class| %>
	    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
	  <% end %>
  </div>
  <div class="content-box" id="similar">
    Hier werden dir mal ähnliche Nutzer angezeigt (auf Basis der Schlagworte).  
  </div>
  <div class="content-box" id="local">
    Funktion noch nicht verfügbar.
  </div>
</div>
