<h1>Listing Users</h1>

<ul>
<% @users.each do |user|%>
<li><%= user.name %></li>
<% end %>
</ul>

<% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>
