development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://duhajofaye.herokuapp.com/faye"
  secret_token: "duhajo"
  signature_expiration: 86400 # one day
