<h1>Tag Übersicht</h1>
<div class="tag-cloud">
  <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4 tag5 tag6 tag7 tag8 tag9 tag10)) do |tag, css_class| %>
    <%= link_to tag.name, { :controller => :tags, :action => :show, :id => tag.id }, :class => css_class %>
  <% end %>
</div>