// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity {
  margin-bottom: 1em;
  padding-left: 45px;
  position: relative;

  .mega-icon {
    position: absolute;
    top: 14px;
    left: 0;
    width: 32px;
    height: 32px;
    padding: 3px;
    color: #BBB;
    background-position: center center;
    background-size: 32px auto;
    background-repeat: no-repeat;
  }

  .body {
    overflow: hidden;
    padding: 0 0 1em 0;
  }

  .title {
    padding: 0 0 .25em 0;
    font-size: 14px;

    .avatar {
      display: inline-block;
      img {
        border: 1px solid #D0D0D0;
        padding: 1px;
        background-color: white;
        margin-right: .7em;
      }
    }
  }

  .details {
    margin-bottom: 10px;
    overflow: hidden;
  }

  .message {
    display: inline;
    color: #666;
    font-size: 13px;
  }

  .thread .answers {
    margin-left: 10%;
  }
}