// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-actions {
  @extend .text-right, .top-margin;
}

.activity-box {
  margin: 15px 0;
  padding-left: 45px;
  position: relative;

  .mega-icon {
    position: absolute;
    top: 25px;
    left: 0;
    width: 32px;
    height: 32px;
    padding: 3px;
    color: #BBBBBB;
    background-position: center center;
    background-size: 32px auto;
    background-repeat: no-repeat;
  }

  .body {
    overflow: hidden;
    padding: 0 0 1em 0;
  }

  .avatar {
    display: inline-block;
    img {
      margin-right: .7em;
    }
  }

  .title {
    padding: 0 0 .25em 0;
    font-size: 14px;
  }

  .details {
    margin-bottom: 10px;
    overflow: hidden;
  }

  .message {
    display: inline;
    color: #666;
    font-size: 13px;
  }

  .thread .answers {
    margin-top: 20px;
  }

  .meta-info {
    border-bottom: 1px solid $gray-lighter;
    padding: 5px 0;
  }

  .content {
    padding: 0 5px 10px;
  }
}
