/* 
    Document   : base
    Created on : 08.06.2013, 13:00:39
    Author     : Psyphant
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
  font-family: 'LilGrotesk';
  src: "<%= asset_path('fonts/LilGrotesk-Regular.otf') %>" format('opentype');
  font-weight: normal;
  font-style: normal;
} 

body {
  font-family: 'LilGrotesk', Arial, Sans-Serif;
  font-size: 18px;
} 

ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3f81b9;
}

/** HIDING FOCUSRING */
a:active, a, li { 
	outline: none; 
}
Â 
:focus { 
	-moz-outline-style: none; 
}
Â 
:-moz-any-link:focus {
	outline: none;
}

#sidebar {
  position: absolute;
  left: 0;
  width: 230px;
  top: 0;
  bottom: 0;
}

#sidebar #logo {
  width: 230px;
  height: 70px;
}

#sidebar #profile {
  padding: 15px;
  position: relative;
}

#profile .profile-avatar img {
  border-radius: 500px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  width: 32px;
  height: 32px;
}

#profile .profile-menu {
  float: right;
  height: 32px;
  line-height: 32px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 150px;
}

#profile .profile-menu-list {
  background-color: #FFFFFF;
  bottom: 0;
  clear: both;
  display: none;
  left: 5px;
  list-style: none outside none;
  padding: 5px;
  position: absolute;
  right: 5px;
  text-align: right;
  top: 49px;
}

#profile .profile-menu:hover .profile-menu-list {
  display: block;
}

#profile .text-arrow {  
  display: inline-block;
  float: right;
  text-align: right;
  text-decoration: none;
}

#profile .text-arrow:before {
  border: 1px solid #FFFFFF;
  border-radius: 24px 24px 24px 24px;
  content: ">";
  display: inline-block;
  padding: 0;
  transform: rotate(90deg);
  transform-origin: 50% 50% 0;
}

#profile .profile-menu:hover .more-actions.open {
  display: block;
  color: #dc007c;
  height: 100%;
  position: relative;
}

.profile-menu:hover .more-actions {
  display: none;
}

.profile-menu .more-actions.open {
  display: none;
}

#profile .profile-menu .more-actions a {
  display: block;
  margin: 0;
  max-width: 150px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#profile .profile-menu .more-actions a .profile-name {
  float: left;
  text-align: right;
}

#my-job-sidebar {
  margin-top: 50px;
}

#my-job-sidebar h2 {
  color: #C3C3C3;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

#my-job-sidebar ul ul {
  margin-left: 5px;
}

.hidden {
  display: none;
}

#main {
  background-color: #f7f7f7;
  position: absolute;
  bottom: 0;
  left: 230px;
  right: 10px;
  top: 0;
}

#main-navigation {
  background-color: #FFFFFF;
  height: 70px;
}

#main-navigation ul {
  float: left;
}

#main-navigation li {
  float: left;
  margin: 0px 18px;
  padding: 18px 0;
  border-top: 5px solid transparent;
}

#main-navigation a {
  font-size: 24px;
  color: #3f81b9;
  padding: 18px 0;
}

#main-navigation .active {
  border-top-color: #dc007c;
}

#main-navigation .active a {
  color: #dc007c;
}

#main-navigation a:hover {
  color: #dc007c;
}

#main-navigation #search {
  float: left;
  margin-left: 20px;
  margin-top: 25px;
}

#main-navigation #search label {
  background-image: url("icons/search.png");
  display: block;
  float: left;
  height: 32px;
  width: 32px;
}

#main-navigation #search input {
  border-color: #55A0DA;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  font-size: 16px;
  margin-left: 10px;
}

#actionbar {
  background-color: #55a0da;
  border-bottom: 2px solid #357eb6;
  clear: both;
}

#actionbar ul {
  overflow: hidden;
}

#actionbar li {
  float: left;
  padding: 18px 30px;
}

#actionbar a {
  color: #FFFFFF;
  font-size: 18px;
}

#content-wrapper {
  clear: both;
  margin: 20px;
}

#sub-navigation {
  margin-bottom: 20px;
}

#sub-navigation ul {
  border-bottom: 1px solid #DADADA;
  height: 40px;
  width: 50%;
}

#sub-navigation li {
  border-bottom: 3px solid transparent;
  float: left;
  line-height: 38px;
  margin-right: 50px;
  padding: 0 8px;
}

#sub-navigation .ui-tabs-active {
  border-bottom-color: #dc007c;
}

#sub-navigation .ui-tabs-active a {
  color: #dc007c;
}

.tag1 { font-size: 1.0em; }
.tag2 { font-size: 1.2em; }
.tag3 { font-size: 1.4em; }
.tag4 { font-size: 1.6em; }

