/*
    Document   : base
    Created on : 08.06.2013, 13:00:39
    Author     : Psyphant
    Description:
        Purpose of the stylesheet follows.
*/

html {
  height: 100%;
  
  body {
    height: 100%;
  }
}

ul {
  list-style: none outside none;
}

/** HIDING FOCUSRING */
a:active, a, li {
	outline: none;
}
a:focus {
	-moz-outline-style: none;
}
a:-moz-any-link:focus {
	outline: none;
}

#topbar #header-logo {
  img {
    vertical-align: top;
  }
}

#topbar #profile {
  padding: 15px;
  position: relative;
}

#topbar .profile-menu {
  float: right;
  height: 32px;
  line-height: 32px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 150px;
}

.hidden {
  display: none;
}

.white-popup {
  position: relative;
  background: #FFFFFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

abbr.timeago{
  border: none;
  cursor: default;
  color: #BBB;
  font-weight: normal;
  font-size: 12px;
}

.clear { clear: both; }

.center {
  text-align: center;
}

.space {
  padding: rem-calc(18);
}

.top-margin {
  margin-top: rem-calc(18);
}

/** Neue Stile **/

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-family: "RobotoMedium";
}

h3 {
  font-family: "Roboto";
}

form label {
  text-align: left;
}

.left {
  float: left;
}
  
.left {
  float: right;
}

.overflow {
  overflow: hidden;
}

#duhajo .full-width { 
  width: 100%;
  max-width: inherit; 
}

.icon {
  background-image: url("icons/iconssprite.png");
  background-size: 192px 224px;
  display: block;
  height: 32px;
  width: 32px;

  &.large {
    height: 48px;
    width: 48px;
  }

  &.center {
    margin: 0 auto;
  }
}
  
.icon-label {
  display: block;
  font-size: rem-calc(14);
}

.tag-list {
  .icon {
    background-position: -96px -96px;
    margin: rem-calc(4) rem-calc(12) rem-calc(4) 0;
  }
  .tag {
    background-color: $quinary-color;
    border-radius: 3px;
    font-size: rem-calc(12);
    padding: rem-calc(6);
    float: left;
    margin: rem-calc(4) rem-calc(12) rem-calc(4) 0;
  }
}

.active .icon-label, a:hover .icon-label {
  color: $tertiary-color;
}

.button {
  background-color: $secondary-color;
  border-radius: $global-radius;
  &.small {
    margin: 0 0 rem-calc(8) 0;
  }
  
  &:hover, &:active {
    background-color: $senary-color;
  }
}

.sec-button {
  @include button(rem-calc(12) ,#FFFFFF, true, false, false, false);
  border: 1px solid #6A7279;
  color: #353F47;
}

.small-link {
  font-size: rem-calc(14);
}

.content.white {
  background-color: #FFFFFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);

  &.simple {
    border: 1px solid #ebebeb;
  }
}

body[data-controller='sessions'] #main-navigation, body[data-controller='registrations'] #main-navigation {
  display: none;
}

#topbar {
  border-bottom: 2px solid #3180BD;
  
  .profile-avatar img {
    border-color: #FFFFFF;
  }
}

.profile-avatar {
  img {
    border: 2px solid transparent;
    border-radius: 50px;
    width: 42px;
  }
  &.manager img {
    border-color: $secondary-color;
  }
}

#main-navigation {
  padding-bottom: 5px;
  position: relative;
  
  .icon.large {
    height: 42px;
  }
  
  a:hover .icon.dashboard, .active .icon.dashboard {
    background-position: 0 -48px;
  }
  
  .icon.jobs {
    background-position: -48px 0;
  }
  
  a:hover .icon.jobs, .active .icon.jobs {
    background-position: -48px -48px;
  }
  
  .icon.workers {
    background-position: -96px 0;
  }
  
  a:hover .icon.workers, .active .icon.workers {
    background-position: -96px -48px;
  }
  
  .icon.places {
    background-position: -144px 0;
  }
  
  a:hover .icon.places, .active .icon.places {
    background-position: -144px -48px;
  }
}

.white-panel {
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
}

.blue-title {
  background-color: $secondary-color;
  padding: rem-calc(15);
  
  a, h2 {
    color: #FFFFFF;
  }
}

.breadcrumb-bar {
  padding: rem-calc(15);
  ul {
    margin: 0;
    li:before {
      font-size: rem-calc(15);
      font-weight: 300;
    }
    li:last-child:after {
      color: #AAAAAA;
      content: ">";
      font-size: rem-calc(15);
      font-weight: 300;
      margin: 0 0.75rem;
      position: relative;
      top: 1px;
    }
  }
}

#login-page, #registration-page {
  border-top: 0 none;
  padding: rem-calc(30);
}