/*
    Document   : base
    Created on : 08.06.2013, 13:00:39
    Author     : Psyphant
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
  font-family: 'LilGrotesk';
  src: "<%= asset_path('fonts/LilGrotesk-Regular.otf') %>" format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'LilGrotesk', Arial, Sans-Serif;
  font-size: 18px;
  line-height: 28px;
}

ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.html-content ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #3f81b9;
}

/** HIDING FOCUSRING */
a:active, a, li {
	outline: none;
}
a:focus {
	-moz-outline-style: none;
}
a:-moz-any-link:focus {
	outline: none;
}

h1, h2 {
  color: #3f81b9;
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

.icon {
  background-image: url("icons/iconssprite.png");
  background-size: 200px 80px;
  display: block;
  float: left;
  height: 32px;
  width: 32px;
}

#sidebar {
  position: absolute;
  left: 0;
  width: 230px;
  top: 0;
  bottom: 0;
}

#sidebar .profile-avatar img {
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  width: 32px;
  height: 32px;
}

#sidebar #logo {
  width: 230px;
  height: 70px;
}

#sidebar #profile {
  padding: 15px;
  position: relative;
}

#profile .profile-menu {
  float: right;
  height: 32px;
  line-height: 32px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 150px;
}

#profile .profile-menu-list {
  background-color: #FFFFFF;
  bottom: 0;
  clear: both;
  display: none;
  left: 5px;
  list-style: none outside none;
  padding: 5px;
  position: absolute;
  right: 5px;
  text-align: right;
  top: 49px;
}

#profile .profile-menu:hover .profile-menu-list {
  display: block;
}

#profile .text-arrow {
  display: inline-block;
  float: right;
  text-align: right;
  text-decoration: none;
}

#profile .text-arrow:before {
  border: 1px solid #FFFFFF;
  border-radius: 24px 24px 24px 24px;
  content: ">";
  display: inline-block;
  padding: 0;
  transform: rotate(90deg);
  transform-origin: 50% 50% 0;
}

#profile .profile-menu:hover .more-actions.open {
  display: block;
  color: #dc007c;
  height: 100%;
  position: relative;
}

.profile-menu:hover .more-actions {
  display: none;
}

.profile-menu .more-actions.open {
  display: none;
}

#profile .profile-menu .more-actions a {
  display: block;
  margin: 0;
  max-width: 150px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#profile .profile-menu .more-actions a .profile-name {
  float: left;
  text-align: right;
}

#my-jobs-sidebar {
  margin-top: 50px;
}

#my-jobs-sidebar h2 {
  color: #C3C3C3;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

#my-jobs-sidebar ul ul {
  margin-left: 5px;
}

.hidden {
  display: none;
}

#main {
  background-color: #f7f7f7;
  bottom: 0;
  left: 230px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

#main-navigation {
  background-color: #FFFFFF;
  height: 72px;
}

#main-navigation ul {
  float: left;
}

#main-navigation li {
  border-top: 5px solid transparent;
  float: left;
  margin-right: 60px;
  padding: 18px 0;
}

#main-navigation a {
  font-size: 24px;
  color: #3f81b9;
  padding: 18px 0;
}

#main-navigation .active {
  border-top-color: #dc007c;
}

#main-navigation .active a {
  color: #dc007c;
}

#main-navigation a:hover {
  color: #dc007c;
}

#main-navigation #search {
  float: left;
  margin-left: 20px;
  margin-top: 12px;
}

#main-navigation #search label {
  background-image: url("icons/search.png");
  display: block;
  float: left;
  height: 32px;
  margin-top: 10px;
  width: 32px;
}

#main-navigation #search #search-form {
  float: left;
}

#main-navigation #search input {
  border-color: #55A0DA;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  font-size: 16px;
  margin-left: 10px;
}

#actionbar {
  background-color: #55a0da;
  border-bottom: 2px solid #357eb6;
  clear: both;
}

#actionbar ul {
  overflow: hidden;
}

#actionbar li {
  float: left;
  padding: 18px 30px;
}

#actionbar a {
  color: #FFFFFF;
  font-size: 18px;
}

#content-wrapper {
  clear: both;
  margin: 0 20px 20px;
  max-width: 900px;
  overflow: hidden;
}

#content-wrapper #content-tabs {
  margin-top: 20px;
}

#content-wrapper .content-box {
  overflow: hidden;
}

.content-box.left {
  float: left;
  width: 60%;
}

.content-box.right {
  float: left;
  width: 40%;
}

#sub-navigation {
  margin-bottom: 20px;
}

#sub-navigation ul {
  border-bottom: 1px solid #DADADA;
  height: 40px;
  width: 50%;
}

#sub-navigation li {
  border-bottom: 3px solid transparent;
  float: left;
  line-height: 38px;
  margin-right: 40px;
  padding: 0 8px;
}

#sub-navigation li.last {
  margin-right: 0;
}

#sub-navigation .ui-tabs-active {
  border-bottom-color: #dc007c;
}

#sub-navigation .ui-tabs-active a {
  color: #dc007c;
}

.circle-button a {
  background-color: #55A0DA;
  border-bottom: 2px solid #367FB7;
  border-radius: 150px 150px 150px 150px;
  color: #FFFFFF;
  font-size: 28px;
  height: 46px;
  line-height: 40px;
  text-align: center;
  width: 48px;
}

.white-popup {
  position: relative;
  background: #FFFFFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

abbr.timeago{
  border: none;
  cursor: default;
  color: #BBB;
  font-weight: normal;
  font-size: 12px;
}

.activity {
  margin-bottom: 1em;
  padding-left: 45px;
  position: relative;
}

.activity .mega-icon {
  position: absolute;
  top: 14px;
  left: 0;
  width: 32px;
  height: 32px;
  padding: 3px;
  color: #BBB;
  background-position: center center;
  background-size: 32px auto;
  background-repeat: no-repeat;
}

.activity .body {
  overflow: hidden;
  padding: 0 0 1em 0;
}

.activity .title {
  padding: 0 0 .25em 0;
  font-weight: bold;
  font-size: 14px;
}

.activity .details .avatar {
  border: 1px solid #D0D0D0;
  padding: 2px;
  background-color: white;
  float: left;
  line-height: 0;
  margin-right: .7em;
}

.activity .message{
  display: inline;
  color: #666;
  font-size: 13px;
}

.clear { clear: both; }
.overflow { overflow: hidden; }
.left { float: left; }



.jbar{
    height:50px;
    width:100%;
    position:fixed;
    text-align:center;
    left:0px;
    z-index:9999999;
    margin:0px;
    padding:0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=92);
    opacity: 0.92;
    -moz-opacity: 0.92;
    -moz-box-shadow: #555 0px 0px 5px;
    box-shadow: #555 0px 0px 5px;
}

.jbar-top{
    top:0px;
}

.jbar-bottom{
    bottom:0px;
}

.jbar-content{
    line-height:46px;
    font-size: 18px;
}

.jbar-top a.jbar-cross{
    top:8px;
}

.jbar-bottom a.jbar-cross{
    bottom:8px;
}

#map {
  height: 300px;
}

#map .olControlAttribution {
  bottom: 5px;
  font-size: 12px;
}

.list {
  border-top: 1px solid #DADADA;
  padding-top: 20px;
}
