/*
    Document   : base
    Created on : 08.06.2013, 13:00:39
    Author     : Psyphant
    Description:
        Purpose of the stylesheet follows.
*/

html {
  min-height: 100%;

  body {
    min-height: 100%;
  }
}

ul {
  list-style: none outside none;
  margin-left: 0;
  padding: 0;
}

/** HIDING FOCUSRING */
a:active, a, li {
  outline: none;
}

a:focus {
  -moz-outline-style: none;
}

a:-moz-any-link:focus {
  outline: none;
}

#duhajo {
  height: 100%;
  overflow: visible;

  #topbar {
    border-bottom: 2px solid $brand-activeblue;
    position: relative;

    #search-wrapper {
      @extend .col-xs-4;
      #search-box {
        float: none;
        margin: 17px auto;

        #my-jobs-link .icon {
          position: absolute;
          left: 6px;
          top: 4px;
          color: $brand-blue;
        }

        #search-input {
          border: 0 none;
          box-shadow: 0 2px 1px 0 $brand-blue;
          font-size: $font-size-small;
          margin-top: 12px;
          max-width: 350px;
          padding-left: 35px;
          top: 0;
        }

        #my-jobs-list {
          display: none;
          &.active {
            display: block;
            left: 0;
            max-width: 350px;
            position: absolute;
            width: 100%;
            z-index: 2;
          }
        }
      }
    }

    #header-logo {
      @extend .col-xs-4;
      text-align: center;
      img {
        vertical-align: top;
      }
    }

    #user-navigation {
      @extend .col-xs-4;
      a {
        color: #FFFFFF;
      }

      .navbar-nav {
        .profile-avatar img {
          border-color: #FFFFFF;
        }

        .login, .register {
          padding-top: 14px;
        }

        .dropdown-menu {
          padding: 0;
          li a {
            line-height: 2.5;
          }
        }
      }
    }
  }

  #main-navigation {
    position: relative;
    a {
      text-align: center;
      font-weight: 500;
      .icon {
        display: block;
        &:before {
          font-size: 30px;
        }
      }
    }
  }

  #footer {
    text-align: center;
    padding: 30px;
    .icons {
      font-size: 10px;
    }
  }

  .profile-avatar {
    img {
      border: 2px solid transparent;
      width: 42px;

      &.small {
        width: 30px;
      }
    }
    &.manager img {
      border-color: $brand-blue;
    }
  }

  .inner-wrap {
    height: 100%;
  }

  .white-panel {
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
    &.clear-top {
      border-top-color: transparent;
      position: inherit;
    }
  }

  .blue-title {
    background-color: $brand-blue;
    padding: 15px;

    a, h2 {
      color: #FFFFFF;
      line-height: 1.6;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .breadcrumb-bar {
    padding: 15px;
    ol {
      margin: 0;
      padding: 0;
      li:before {
        font-size: $font-size-small;
        font-weight: 300;
      }
      li:last-child:after {
        color: $gray;
        content: ">";
        font-size: $font-size-small;
        font-weight: 300;
        margin: 0 10px;
        position: relative;
        top: -1px;
      }
    }
  }

  #login-page, #registration-page {
    border-top-color: transparent;
  }
}

/* Headline Navigation */

.headline-navigation .nav {
  border-bottom: 1px solid #e4e4e4;
  li {
    float: left;
    margin-right: 30px;
    a {
      padding: 0;
      display: inline-block;
      &:hover, &:focus {
        border-bottom: 2px solid;
        background-color: transparent;
      }
    }
    &.active {
      a {
        border-bottom: 2px solid;
      }
    }
  }
}

.white-popup {
  position: relative;
  background: #FFFFFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

abbr.timeago {
  border: none;
  cursor: default;
  color: #BBB;
  font-weight: normal;
  font-size: 12px;
}

.nospace {
  padding: 0;
}

.space {
  padding: 15px;
}

.side-space {
  padding: 0 15px;
}

.right-space {
  padding: 0 15px 0 0;
}

.left-space {
  padding: 0 0 0 15px;
}

.top-margin {
  margin-top: 15px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.overflow {
  overflow: hidden;
}

.icon-label {
  display: inline-block;
}

.sec-button {
  @include button-variant(#353F47, #FFFFFF, #6A7279);
}

.small-link {
  font-size: $font-size-small;
}

.content.white {
  background-color: #FFFFFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);

  &.simple {
    border-top: 1px solid #ebebeb;
  }
}

body[data-controller='sessions'] #main-navigation, body[data-controller='registrations'] #main-navigation {
  display: none;
}

.map-container {
  position: relative;
  #map {
    width: 100%;
    min-height: 250px;
    height: 400px;
    img { max-width: none; }
  }
}

/* ToolTip */

a.show-tooltip {
  display: block;
}
