/**
 * GMAIL Like chat css
 * CREDITS: http://css-tricks.com/replicating-google-hangouts-chat/
 *
 */
.chatbox {
  position: fixed;
  position: expression("absolute");
  width: 280px;
  display: none;
    
  .chat-head {
      background: #666;
      color: white;
      padding: 0.5rem;
      overflow: hidden;
  
      border-right: 1px solid rgba(85, 85, 85, 0.87);
      border-left: 1px solid rgba(85, 85, 85, 0.87);
  }
  
  .chat-head h1 {
      display: inline;
      font-size: 17px;
      font-weight: 700;
  }
  
  .chat-blink {
      background-color: #176689;
      border-right: 1px solid #176689;
      border-left: 1px solid #176689;
  }
  
  .chat-content {
    font-family: arial, sans-serif;
    min-height: 280px;
    max-height: 500px;
    width: 280px;
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background: #e5e5e5;
    line-height: 1.3em;
    list-style: none;
    
    li {
        padding: 0.5rem;
        overflow: hidden;
        display: flex;
    }
    .message {
      .avatar {
        width: 40px;
        position: relative;
        vertical-align: top;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
  
  
  .other .avatar:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
  }
  
  .self {
      justify-content: flex-end;
      align-items: flex-end;
  }
  
  .self .chat-content {
      order: 1;
      border-bottom-right-radius: 0;
  }
  
  .self .avatar {
      order: 2;
  }
  
  .chat-content {
      background: white;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .chat-content p {
      font-size: 12px;
      margin: 0 0 0.2rem 0;
      -ms-word-break: break-all;
  
      /* Non standard for webkit */
      word-break: break-word;
  
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
  }
  
  .chat-content time {
      font-size: 9px;
      color: #ccc;
  }
  
  .chat-input {
      padding: 5px;
      background-color: #ffffff;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
  }
  
  .chat-textarea {
      width: 262px;
      height: 44px;
      padding: 3px 0pt 3px 3px;
      border: 1px solid #eeeeee;
      margin: 1px;
      overflow: hidden;
      resize: none !important;
  }
  
  .chat-textareaselected {
      border: 2px solid #878787;
      margin: 0;
  }
  
  .chat-message {
      margin-left: 1em;
  }
  
  .chat-info {
      margin-left: -1em;
      color: #666666;
  }
  
  .chat-options {
      float: right;
  }
  
  .chat-options a {
      text-decoration: none;
      color: white;
      font-weight: bold;
  }
  
  .chat-title {
      float: left;
  }
}

.chat-content {
  .message {
    display: table;
    width: 100%;
    .avatar {
      display: table-cell;
      padding-right: 10px;
      position: relative;
      vertical-align: middle;
      width: 50px;
      img {
        display: block;
        width: 100%;
      }
    }
    
    .content-wrapper {
      display: table-cell;
    }
  }
}
