/*
    Document   : fonts
    Created on : 08.06.2013, 13:00:39
    Author     : Psyphant
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: asset-url('Roboto-Regular.eot', font);
  src: asset-url('Roboto-Regular.eot', font) format('embedded-opentype'),
       asset-url('Roboto-Regular.woff', font) format('woff'),
       asset-url('Roboto-Regular.ttf', font) format('truetype'),
       asset-url('Roboto-Regular.svg#RobotoRegular', font) format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: asset-url('Roboto-Light.eot', font);
  src: asset-url('Roboto-Light.eot', font) format('embedded-opentype'),
       asset-url('Roboto-Light.woff', font) format('woff'),
       asset-url('Roboto-Light.ttf', font) format('truetype'),
       asset-url('Roboto-Light.svg#RobotoLight', font) format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: asset-url('Roboto-Medium.eot', font);
  src: asset-url('Roboto-Medium.eot', font) format('embedded-opentype'),
       asset-url('Roboto-Medium.woff', font) format('woff'),
       asset-url('Roboto-Medium.ttf', font) format('truetype'),
       asset-url('Roboto-Medium.svg#RobotoMedium', font) format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: asset-url('Roboto-Bold.eot', font);
  src: asset-url('Roboto-Bold.eot', font) format('embedded-opentype'),
       asset-url('Roboto-Bold.woff', font) format('woff'),
       asset-url('Roboto-Bold.ttf', font) format('truetype'),
       asset-url('Roboto-Bold.svg#RobotoBold', font) format('svg');
}

@font-face {
  font-family: 'Flaticon';
  font-weight: normal;
  font-style: normal;
  src: asset-url('flaticon.eot?37909921', font);
  src: asset-url('flaticon.eot?37909921#iefix', font) format('embedded-opentype'),
       asset-url('flaticon.woff?37909921', font) format('woff'),
       asset-url('flaticon.ttf?37909921', font) format('truetype'),
       asset-url('flaticon.svg?37909921#flaticon', font) format('svg');
}

.icon {
  font-family: "Flaticon";
  font-size: 20px;
  font-style: normal;

  &.search:before {
  	content: "\e000";
  }
  &.add:before {
  	content: "\e001";
  }
  &.pin:before {
  	content: "\e002";
  }
  &.pin:before {
    content: "\e00b";
  }
  &.alarm:before {
  	content: "\e003";
  }
  &.chat:before {
  	content: "\e004";
  }
  &.attachment:before {
  	content: "\e005";
  }
  &.settings:before {
  	content: "\e006";
  }
  &.loudspeaker:before {
    content: "\e007";
  }
  &.map:before {
  	content: "\e008";
  }
  &.list:before {
    content: "\e009";
  }
  &.users:before {
  	content: "\e00a";
  }
  &.notify:before {
  	content: "\e00c";
  }
  &.tag:before {
  	content: "\e00d";
  }
  &.pulse:before {
  	content: "\e00e";
  }
  &.message:before {
  	content: "\e00f";
  }
}
