#job-view.closed {
  margin-top: 20px;
}

.job-container {
  height: 70px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 8px;
  position: relative;
}

.job {
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0 1px 0 0 #E6E6E6;
  height: 60px;
  padding: 5px;
  position: relative;
}

.job .job-title h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 0 6px;
}

.job .job-tags {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.job-container  .job-likes {
  background-image: url("icons/like-bg.png");
  height: 78px;
  position: absolute;
  right: 90px;
  top: 5px;
  width: 70px;
}

.job-container .likes-button.icon, .job-container .likes-button.voted:hover {
  background-position: -124px -4px;
  float: none;
  margin: 5px 16px 0;
}

.job-container .likes-button:hover, .job-container .likes-button.voted {
  background-position: -124px -44px;
}

.job-container .likes-button.icon.no-votes {
  margin: 15px 16px 0;
}

.job-container .likes-number {
  padding-right: 5px;
  text-align: center;
  color: #3f81b9;
}

#job-breadcrumb {
  background-color: #FFFFFF;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  color: #707070;
  height: 40px;
  line-height: 40px;
  margin: 0 20px;
  padding: 5px;
}

#job-breadcrumb .icon {
  background-position: -80px 0;
  height: 40px;
  width: 40px;
}

#job-breadcrumb li {
  float: left;
  margin-left: 10px;
}

#job {
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0 1px 0 0 #E6E6E6;
  color: #707070;
  font-size: 14px;
  padding: 10px 20px;
}

#job h1, #job h2 {
  float: left;
  margin: 0;
}
  
#job #job-title #job-status {
  float: right;
  text-align: center;
}

#job #job-title #job-status .button {
  border-radius: 4px;
  display: block;
  font-size: 18px;
  width: 90px;
  padding: 8px;
}

#job #job-title #job-status #status-open, #job #job-title #job-status.rights #status-closed:hover {
  background-color: #dc007c;
  border-bottom: 2px solid #9d4a79;
  color: #FFFFFF;
}

#job #job-title #job-status #status-in-work, #job #job-title #job-status.rights #status-open:hover {
  background-color: #8dda55;
  border-bottom: 2px solid #70b142;
  color: #FFFFFF;
}

#job #job-title #job-status #status-closed, #job #job-title #job-status.rights #status-in-work:hover {
  background-color: #f7f7f7;
  border-bottom: 2px solid #bebebe;
  color: #707070;
}
  
#job #job-status.rights .button:hover span.now, #job #job-status.rights .button span.new {
  display: none;
}
  
#job #job-status .button:hover span.new {
  display: block;
}

#job #job-details {
  clear: both;
  overflow: hidden;
}

#job #job-details #job-info, #job #job-details #job-meta, #job #job-results, #job #job-workers {
  margin-top: 15px;
  float: left;
  width: 60%;
}

#job #job-details #job-meta, #job #job-workers {
  width: 40%;
}

#job #job-details #job-description {
  margin-top: 15px;
}

#job #job-meta #job-deadline, #job #job-meta #job-location {
  min-height: 40px;
  margin-bottom: 15px;
}

#job #job-deadline .icon {
  background-position: -40px 0;
  height: 40px;
  width: 40px;
}

#job #job-meta .icon-label {
  float: left;
  line-height: 20px;
  margin-left: 15px;
}

#job #job-deadline .icon-label {
  padding-top: 5px;
}

#job #job-location .icon {
  background-position: 0 0;
  height: 40px;
  width: 40px;
}

#job #job-more-details {
  clear: both;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#job #job-more-details .splitter {
  border-bottom: 1px solid #dadada;
  height: 16px;
}

#job #job-more-details .splitter a {
  background-color: #55A0DA;
  border-bottom: 2px solid #367FB7;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0 10px;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 70px;
}

#job #job-more-details .splitter a :hover {
  background-color: #FFFFFF;
  border-bottom: 2px solid #dc007c;
  color: #dc007c;
}
#job #job-workers .add a {
  background-color: #55A0DA;
  border-bottom: 2px solid #367FB7;
  border-radius: 150px 150px 150px 150px;
  color: #FFFFFF;
  font-size: 28px;
  height: 46px;
  line-height: 40px;
  text-align: center;
  width: 48px;
}

#job #job-interactions {
  overflow: hidden;
}

#job #likes .plus {
  float: left;
  margin: 0 10px;
}

#job #likes .icon {
  background-position: -124px -4px;
}

#job #likes .icon-label a {
  font-size: 16px;
  margin-left: 10px;
}

/******** Job Tags **********/

.job-tags {
  overflow: hidden;
}

.job-tags li {
  float: left;
  margin-right: 10px;
}

.job-tags a, .job-tags a:active, .job-tags a:visited {
  background-color: #55A0DA;
  border-bottom: 2px solid #367FB7;
  border-radius: 3px;
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  height: 12px;
  line-height: 11px;
  padding: 5px;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, color 0.3s ease 0s;
}

.job-tags li a:hover {
  background-color: #FFFFFF;
  border-bottom: 2px solid #dc007c;
  color: #dc007c;
}
