#job-view {

  #job-specification-area {
    border-right: 1px solid #EBEBEB;
    margin-left: 1px;
    
    #job-details {
  
      #job-meta-wrapper {

        .icon-label {
          line-height: 21px;
          padding-left: 32px;
          padding-top: 4px;
        }
      
        #job-status {
          float: left;

          #status-open, .rights #status-closed:hover {
            background-color: #dc007c;
            color: #FFFFFF;
          }

          #status-in-work, .rights #status-open:hover {
            background-color: #7aba4b;
            color: #FFFFFF;
          }

          #status-closed, .rights #status-in-work:hover {
            background-color: #f7f7f7;
            color: #707070;
          }

          .rights .button:hover span.now, .button span.new {
            display: none;
          }

          .rights .button:hover span.new {
            display: block;
          }
        }

        #job-deadline {
          height: rem-calc(38);
          line-height: rem-calc(38);
          .icon {
            background-position: -32px -96px;
          } 
        }

        #job-location {
          .icon {
            background-position: -64px -96px;
          } 
        }
      }

      #job-workers-wrapper {
        border-left: 1px solid #EBEBEB;
        
        h3 {
          height: rem-calc(40);
          line-height: rem-calc(28);
        }
      }
    }
  }
  
  #job-activities-area {
    border-left: 1px solid #EBEBEB;
    margin-left: -1px;
    margin-top: rem-calc(45);
    
    h2 {
      margin-bottom: rem-calc(18);
    }
  }
}

#edit-job-page {
  @media #{$medium-up} {
    select.medium-4 {
      margin-right: 1%;
      width: 32.666%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}