// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job {
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0 1px 0 0 #E6E6E6;
  height: 60px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 8px;
  position: relative;
}

.job .job-title h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.job .job-tags {
  bottom: 15px;
  left: 8px;
  position: absolute;
}

#job-breadcrumb {
  background-color: #FFFFFF;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  color: #707070;
  height: 40px;
  line-height: 40px;
  margin: 0 20px;
  padding: 5px;
}

#job-breadcrumb .icon {
  background-position: -80px 0;
  height: 40px;
  width: 40px;
}

#job-breadcrumb li {
  float: left;
  margin-left: 10px;
}

#job {
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0 1px 0 0 #E6E6E6;
  color: #707070;
  font-size: 14px;
  padding: 10px 20px;
}

#job h1, #job h2 {
  float: left;
  margin: 0;
}
  
#job #job-title #job-status {
  float: right;
  text-align: center;
}

#job #job-title #job-status .button {
  border-radius: 4px;
  display: block;
  font-size: 18px;
  width: 90px;
  padding: 8px;
}

#job #job-title #job-status #status-open, #job #job-title #job-status.rights #status-closed:hover {
  background-color: #dc007c;
  border-bottom: 2px solid #9d4a79;
  color: #FFFFFF;
}

#job #job-title #job-status #status-in-work, #job #job-title #job-status.rights #status-open:hover {
  background-color: #8dda55;
  border-bottom: 2px solid #70b142;
  color: #FFFFFF;
}

#job #job-title #job-status #status-closed, #job #job-title #job-status.rights #status-in-work:hover {
  background-color: #f7f7f7;
  border-bottom: 2px solid #bebebe;
  color: #707070;
}
  
#job #job-status.rights .button:hover span.now, #job #job-status.rights .button span.new {
  display: none;
}
  
#job #job-status .button:hover span.new {
  display: block;
}

#job #job-details {
  clear: both;
  overflow: hidden;
}

#job #job-details #job-info, #job #job-details #job-meta, #job #job-results, #job #job-workers {
  margin-top: 15px;
  float: left;
  width: 60%;
}

#job #job-details #job-meta, #job #job-workers {
  width: 40%;
}

#job #job-details #job-description {
  margin-top: 15px;
}

#job #job-meta #job-deadline, #job #job-meta #job-location {
  min-height: 40px;
  margin-bottom: 15px;
}

#job #job-deadline .icon {
  background-position: -40px 0;
  height: 40px;
  width: 40px;
}

#job #job-meta .icon-label {
  float: left;
  line-height: 20px;
  margin-left: 15px;
}

#job #job-deadline .icon-label {
  padding-top: 5px;
}

#job #job-location .icon {
  background-position: 0 0;
  height: 40px;
  width: 40px;
}

#job #job-more-details {
  clear: both;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#job #job-more-details .splitter {
  border-bottom: 1px solid #dadada;
  height: 16px;
}

#job #job-more-details .splitter a {
  background-color: #55A0DA;
  border-bottom: 2px solid #367FB7;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0 10px;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 70px;
}

#job #job-more-details .splitter a :hover {
  background-color: #FFFFFF;
  border-bottom: 2px solid #dc007c;
  color: #dc007c;
}

#job #job-interactions {
  overflow: hidden;
}

#job #job-workers .workers-list, #job #job-results .results-list {
  clear: both;
  padding-top: 10px;
}

#job #job-workers a {
  display: block;
  float: left;
}

#job #job-workers .profile-avatar img {
  width: 48px;
  height: 48px;
}

.ui-tooltip, .arrow:after {
  background-color: #F7F7F7;
}
  
.ui-tooltip {
  padding: 8px;
  color: #707070;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 0 #BEBEBE;
  max-width: 100px;
  max-height: 50px;
  text-align: center;
}
  
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: -16px;
  margin-left: -35px;
}
  
.arrow.top {
  top: -22px;
  bottom: auto;
}

.arrow.left {
  left: 20%;
}
  
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -22px;
  width: 25px;
  height: 25px;
  box-shadow: 3px 3px 0 #BEBEBE;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg);
}
  
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

/******** Job Tags **********/

.job-tags {
  overflow: hidden;
}

.job-tags li {
  float: left;
  margin-right: 10px;
}

.job-tags a, .job-tags a:active, .job-tags a:visited {
  background-color: #55A0DA;
  border-bottom: 2px solid #367FB7;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  height: 12px;
  line-height: 11px;
  padding: 5px;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, color 0.3s ease 0s;
}

.job-tags li a:hover {
  background-color: #FFFFFF;
  border-bottom: 2px solid #dc007c;
  color: #dc007c;
}
