.category {
  display: inline-block;
  vertical-align: top;
  max-width: 242px;
  padding: 15px;

  .category-head {
    background-color: $brand-secondary;
    padding: 10px 8px;
    a {
      color: #FFFFFF;
      display: block;
      width: 100%;
    }
  }
  .category-body {
    border-color: $brand-secondary;
    border-style: solid;
    border-width: 0px 1px 1px;
    overflow: hidden;
    .tag-list {
      padding: 0 5px;
    }
  }
}

.jobs-overview {
  @extend .row;
  .unassigned-jobs-content, .unassigned-resources-content {
    @extend .col-md-6;
  }
}

#category-view {

  .title {
    margin-top: 0;
  }

  #job-picture {
    padding-right: rem-calc(8);
    max-width: 242px;
  }

  #sub-categories {
    @extend .container-fluid;
    #list-categories {
      border-width: 1px 0;
      border-style: solid;
      border-color: #ebebeb;
      background-color: $body-bg;
    }
  }
}

#job-view {
  @extend .container-fluid, .content, .white, .simple;

  #job-specification-area {
    @extend .col-md-8, .nospace;
    border-right: 1px solid #EBEBEB;
    margin-left: -15px;

    #job-details {
      @extend .side-space;

      #job-meta-wrapper {
        @extend .col-md-9;

        .icon-label {
          line-height: 21px;
          padding-top: 4px;
        }
        #job-meta {
          @extend .row;
          #job-deadline {
            height: rem-calc(38);
            line-height: rem-calc(38);
            .icon {
              background-position: -32px -96px;
            }
          }
  
          #job-location {
            .icon {
              background-position: -64px -96px;
            }
          }
  
          #job-likes {
            @extend .pull-right;
            a {
              line-height: 2.4;
              padding: 0 5px;
              &.my-like {
                background-color: $brand-senary;
                color: #ffffff;
              }
            }
            #like-button {
              .icon {
                background-position: -550px -100px;
                float: left;
                height: 21px;
                margin: 4px 4px 0 0;
                width: 21px;
              }
            }
          }
        }

        #job-description {
          font-size: rem-calc(14);
          line-height: rem-calc(21);;
        }

        #job-files {
          #file-upload {
            top: auto;
            .uploader {
              form {
                bottom: 0;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
              }
              #file-upload-input {
                cursor: pointer;
                margin: 0;
                opacity: 0;
                padding: 0;
                width: 100%;
              }
            }
          }

          .job-file-images {
            a {
              display: inline-block;
            }
          }
        }
      }

      #job-workers-wrapper {
        @extend .col-md-3;
        border-left: 1px solid #EBEBEB;

        h3 {
          margin-top: 0;
          line-height: rem-calc(28);
        }
      }
    }
  }

  #job-activities-area {
    border-left: 1px solid #EBEBEB;
    margin-left: -1px;
    margin-top: rem-calc(45);
    @extend .col-md-4, .side-space;

    h2 {
      margin-bottom: rem-calc(18);
    }
  }
}

#list-jobs {
  h3 {
    margin-top: 0;
  }
}

.job-box {
  border: 1px solid transparent;
  margin-bottom: 10px;
  padding: 0 10px 3px;

  &.project {
    border-color: $brand-secondary;
    .prefix {
      background-color: $brand-secondary;
      border: 1px solid darken($brand-secondary,10%);
      border-radius: 4px;
      color: #ffffff;
      font-size: 12px;
      margin-right: 5px;
      padding: 3px;
    }
  }

  &.service {
    border-color: orange;
    .prefix {
      background-color: orange;
      border: 1px solid darken(orange,10%);
      border-radius: 4px;
      font-size: 12px;
      margin-right: 5px;
      padding: 3px;
    }
  }

  &.material {
    border-color: darkgreen;
    .prefix {
      background-color: darkgreen;
      border: 1px solid darken(darkgreen,10%);
      border-radius: 4px;
      color: #ffffff;
      font-size: 12px;
      margin-right: 5px;
      padding: 3px;
    }
  }

  .title a {
    font-size: $font-size-base;
    line-height: 2;
    display: block;
    width: 100%;
  }

  .description {
    font-size: $font-size-small;
    padding-bottom: 8px;
  }

  .job-bottom-line {
    font-size: $font-size-small;
    line-height: 2.3;
  }
}

.job-status {

  .status-open,
  &.rights .status-closed:hover {
    background-color: #dc007c;
    &, a{
      color: #FFFFFF;
    }
  }

  .status-in-work,
  &.rights .status-open:hover {
    background-color: #7aba4b;
    &, a{
      color: #FFFFFF;
    }
  }

  .status-closed,
  &.rights .status-in-work:hover {
    background-color: #f7f7f7;
    &, a{
      color: #707070;
    }
  }

  &.rights {
    .btn:hover span.now,
    .btn .new {
      display: none;
    }
    .btn:hover span.new {
      display: block;
    }
  }

  &.view-only {
    .new {
      display: none;
    }
  }
}