#list-categories {
  #categories-overview & {
    text-align: center;
  }

  .category {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    margin: 15px;
    width: 170px;

    > .notice {
      display: block;
      text-align: center;
      width: 170px;
      margin: 50px 0;
      line-height: 30px;
    }

    .category-head {
      background-color: rgba($brand-blue, 0.75);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      a {
        color: #FFFFFF;
        display: block;
        padding: 10px 8px;
        width: 100%;
      }
    }
    .category-body {
      overflow: hidden;
      min-height: 130px;
      min-width: 170px;

      .category-img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        min-height: 130px;
        min-width: 170px;
      }

      .tag-list {
        margin: 0;
        max-height: 128px;
        overflow: hidden;
        padding: 10px;
        > a {
          padding: 5px;
        }
      }

      &:not(.show-picture) {
        border: 1px solid $brand-blue;
      }

      .notice {
        display: block;
        padding: 10px;
        margin-top: 15px;
      }
    }

    &.new {
      a {
        background-color: rgba($brand-blue, 0.75);
        color: #FFFFFF;
        display: table;
        height: 130px;
        width: 100%;
        .icon {
          font-size: 42px;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      width: calc(100% - 30px);
      &.new {
        width: calc(100% - 32px);
      }
    }
  }
}

.pins-overview {
  @extend .row;
  .unassigned-pins-content, .unassigned-resources-content {
    @extend .col-md-6;
  }
}

#category-view {

  h1.title {
    margin-top: 0;
  }

  #category-picture {
    @extend .col-sm-4, .col-md-3;
    max-width: 250px;
  }

  #category-description {
    @extend .col-sm-4, .col-md-5;
  }

  #category-tags {
    @extend .col-sm-4, .col-md-4;
  }

  #sub-categories {
    @extend .container-fluid;
  }
}

#pin {
  @extend .content, .white, .simple;

  #pin-title {
    border-bottom: 1px solid #EBEBEB;
    padding: 0 15px 5px;
    margin-bottom: 0;

    .icon {
      font-size: 26px;
      margin-right: 15px;
      vertical-align: middle;
    }

    h1 {
      display: inline-block;
    }

    #pin-actions {
      float: right;
      margin-top: 20px;
      #pin-status {
        display: inline-block;
      }
    }
  }

  #pin-content {
    @extend .container-fluid;

    #pin-specification {
      @extend .col-md-8, .nospace;
      @media (min-width: $screen-md-min) {
        border-right: 1px solid #EBEBEB;
      }
      padding-top: 15px;

      #pin-details {
        @extend .side-space;

        #pin-meta {
          &.two-cols {
            @extend .row;
          }
          .icon {
            float: left;
          }

          .icon-label {
            line-height: 32px;
            width: calc(100% - 32px);
            margin-left: 5px;
          }

          #pin-deadline {
            height: 38px;
            .icon {
              background-position: -32px -96px;
            }
          }

          #pin-location {
            .icon {
              background-position: -64px -96px;
            }
          }
        }

        #pin-description {
          clear: both;
          line-height: 21px;
        }

        #pin-files {
          #file-upload {
            top: auto;
            .uploader {
              form {
                bottom: 0;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
              }
              #file-upload-input {
                cursor: pointer;
                margin: 0;
                opacity: 0;
                padding: 0;
                width: 100%;
              }
            }
          }

          .pin-file-images {
            a {
              display: inline-block;
            }
          }
        }
      }
    }

    #pin-communication {
      @extend .col-md-4, .space;
      @media (min-width: $screen-md-min) {
        border-left: 1px solid #EBEBEB;
        margin-left: -1px;
      }

      #pin-contact {
        h2 {
          margin-bottom: 18px;
          margin-top: 0;
        }
        .manager {
          display: inline-block;
          .user-about {
            font-style: italic;
            font-weight: 300;
            margin-top: 15px;
          }
        }
        .actions {
          display: inline-block;
          float: right;
          .icon {
            vertical-align: middle;
            padding-right: 12px;
          }
        }
      }
    }
  }
}

#pin-type-header {
  @extend .row;
  padding: 10px 0;
  .header {
    @extend .col-sm-4;
    h2 {
      margin: 0;
      .icon {
        font-size: 36px;
        display: inline-block;
        vertical-align: middle;
      }
      .icon-label {
        vertical-align: middle;
        line-height: 54px;
      }
      .pre {
        font-size: $font-size-small;
        font-weight: 400;
        color: $brand-darkerblue;
      }
    }
    &.demand {
      text-align: right;
      .icon {
        margin-left: 10px;
      }
    }
    &.supply {
      .icon {
        margin-right: 10px;
      }
    }
    &.filter-wrapper {
      .filter {
        margin-top: 10px;
      }
    }
  }

}

#list-pins {
  display: table;
  width: 100%;
  height: 100%;

  .list {
    padding: 15px 0;
    box-shadow: inset 10px 13px 0px -10px rgba(0, 0, 0, 0.15);
    .no-entries {
      @extend .notice;
      text-align: center;
      margin-top: 20px;
      padding: 25px;
    }
    &.supplies {
      display: table-cell;
      background-image: url("bg_blue.jpg");
      background-size: cover;
      width: 50%;
      border-right: 2px solid #FFFFFF;
    }

    &.demands {
      display: table-cell;
      background-image: url("bg_violet.jpg");
      background-size: cover;
      width: 50%;
      border-left: 2px solid #FFFFFF;
    }

    .prefix {
      display: none;
    }
  }
}

.pin-add-wrapper {
  @extend .col-md-6;
  margin-bottom: 10px;
  margin-top: 20px;
  .pin-add {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    padding: 10px;
    text-align: center;
    a {
      display: block;
      .icon {
        vertical-align: middle;
        margin-right: 10px;
        font-size: 34px;
      }
    }
  }
}

.pin-box-wrapper {
  @extend .col-md-6;
  margin-bottom: 10px;
  .pin-box {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);

    .title {
      margin-bottom: 0;
      a {
        display: block;
        padding: 5px 5px 0 5px;

        .prefix {
          display: inline-block;
          font-size: $font-size-large;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }

    .description {
      font-size: $font-size-small;
      padding: 5px 5px 0;
    }

    .tag-list {
      padding: 5px 5px 0;
    }

    .pin-bottom-line {
      line-height: 32px;
      > div {
        display: inline-block;
        padding: 0 5px;

        .icon {
          margin-right: 5px;
        }
      }
      .pin-status  .btn {
        border-radius: 0;
        padding: 5px;
      }

      .pin-manager {
        float: right;
      }
    }
  }
}

.pin-status {
  margin-top: 15px;

  .status-open,
  &.rights .status-closed:hover {
    background-color: #dc007c;
    &, a{
      color: #FFFFFF;
    }
  }

  .status-in-work,
  &.rights .status-open:hover {
    background-color: #7aba4b;
    &, a{
      color: #FFFFFF;
    }
  }

  .status-closed,
  &.rights .status-in-work:hover {
    background-color: #f7f7f7;
    &, a{
      color: #707070;
    }
  }

  &.rights {
    .btn:hover span.now,
    .btn .new {
      display: none;
    }
    .btn:hover span.new {
      display: block;
    }
  }

  &.view-only {
    .new {
      display: none;
    }
  }
}
