// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#places {
  position: relative;
  #map {
    top: 154px;
    bottom: 0;
    cursor: default;
    left: 0;
    position: fixed;
    height: 100%;
    right: 0;
    width: 100%;
    z-index: 1
  }
}