#tag-overview {
  margin-top: 20px;
}

.linked-workers {
  margin-left: 20px;
}

.tags a {
  background-color: #55A0DA;
  border-bottom: 2px solid #367FB7;
  color: #FFFFFF;
  display: inline-block;
  padding: 5px;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, color 0.3s ease 0s;
}

.tags a:hover {
  background-color: #FFFFFF;
  border-bottom: 2px solid #DC007C;
  color: #DC007C;
}

.tag1 {
  border-radius: 2px;
  font-size: 13px;
  line-height: 13px;
}

.tag2 {
  border-radius: 2px;
  font-size: 14px;
  line-height: 15px;
}

.tag3 {
  border-radius: 3px;
  font-size: 16px;
  line-height: 17px;
}

.tag4 {
  border-radius: 3px;
  font-size: 18px;
  line-height: 22px;
}

.tag5 {
  border-radius: 4px;
  font-size: 20px;
  line-height: 25px;
}

.tag6 {
  border-radius: 4px;
  font-size: 22px;
  line-height: 28px;
}

.tag7 {
  border-radius: 5px;
  font-size: 24px;
  line-height: 32px;

}

.tag8 {
  border-radius: 5px;
  font-size: 26px;
  line-height: 34px;
}

.tag9 {
  border-radius: 6px;
  font-size: 28px;
  line-height: 36px;
}

.tag10 {
  border-radius: 6px;
  font-size: 30px;
  line-height: 40px;
}

.tag-list {
  padding: 0;

  .tag:not(.icon) {
    background-color: $brand-softblue;
    border-radius: 3px;
    font-size: $font-size-base;
    padding: 5px;
    float: left;
    margin: 0 12px 5px 0;
    line-height: 20px;
    &.active, &:hover {
      background-color: $brand-darkerblue;
      color: $brand-softblue;
    }
  }

  .icon {
    font-size: ceil(($font-size-base * 1.5));
    float: left;
    line-height: 20px;
    padding-right: 10px;
    margin: 5px;
  }
}
