#workers-overview {
  position: inherit;
}

.preview-list {
  clear: both;
  margin: 0;

  li {
    display: block;
    float: left;
    margin-right: 10px;
  }
}

.user {
  .user-name {
    font-size: rem-calc(15);
  }
  .user-address{
    font-size: rem-calc(12);
  }
}

#workers-filter {

  h3 {
    font-size: 16px;
    .icon {
      float: left;
    }
  }

  ul {
    margin-left: 32px;
  }
  
  #users-search {
    @extend .row;
    @extend .side-space;
    @extend .side-space;
    .search-input {
      @extend .col-md-7;
    }
    .btn {
      @extend .col-md-4, .col-md-offset-1;
    }
  }

  .place-list {
    li {
      &:first-child {
        padding-top: 0;
      }
      padding: 3px 0;
      .place {
        &.active {
          font-family: "RobotoMedium";
        }
      }
    }
  }
}