#workers-overview {
  position: inherit;
}

.preview-list {
  clear: both;
  margin: 0;

  li {
    display: block;
    float: left;
    margin-right: 10px;
  }
}

.user {
  .user-name {
    font-size: rem-calc(15);
  }
  .user-address{
    font-size: rem-calc(12);
  }
}

.place-list {
  .place {
    &.active {
      text-decoration: underline;
    }
  }
}