.preview-list {
  clear: both;
  padding-top: 10px;
}

.preview-list a {
  display: block;
  float: left;
  margin-right: 10px;
}

.user {
  .user-name {
    font-size: rem-calc(15);
  }
  .user-address{
    font-size: rem-calc(12);
  }
}