<label>Meine Aufgaben</label>
<%if my_jobs.empty? %>
  <li>Es sind noch keine Jobs vorhanden.</li>
<% else %>
  <% my_jobs.each do |job| %>
    <li><%= link_to job.title, job %></li>
  <% end %>
<% end %>
