<span>Meine Aufgaben</span>
<%if my_jobs.empty? %>
  <span>Es sind noch keine Jobs vorhanden.</span>
<% else %>
  <% my_jobs.each do |job| %>
    <li><%= link_to job.title, job %></li>
  <% end %>
<% end %>
